@font-face {
	font-family: "Liberation";
	src: url(LiberationSerif.ttf);
}

body {
	font-family: "Liberation";
	height: auto;
}

ul {
	list-style-type: none;
	text-align: center;
	color: #c2b48f;
	background-color: #262626;
	padding: 1px;
	padding-top: 6px;
	padding-bottom: 3px;
}

li {
	display: inline-block;
	padding-right: 3%;
	padding-left: 3%;
}

a {
	color: #c2b48f;
}

img {
	max-width: 100%;
	max-height: 86vh;
	width: auto;
	height: auto;
}
