body {
	margin: 0;
}

header {
	position: relative;
	text-align: center;
	width: 100%;
	height: 30em;
	background-image: url("img/rozkwit-0.jpg");
	background-size: cover;
}

.header-text {
	color: white;
	text-shadow: 0.1rem 0 black, 0 0.1rem black, -0.1rem 0 black, 0 -0.1rem black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-size: 10vw;
	font-size: min(10em, 10vw);
	font-weight: bold;
	margin: 0;
}

main {
	margin: 1em;
	padding: 1em;
	padding-top: 0;
	border-style: solid;
	border-width: 0.1rem;
}

p {
	padding-left: 2em;
	padding-right: 2em;
}

a {
	color: black;
}

footer {
	margin-bottom: 1em;
	text-align: center;
}