:root {
	--colrA: #000000;
	--colrB: #1F1F1F;
	--colrC: #A4A4A4;
}

body {
	color: var(--colrC);
	background-color: var(--colrB);
}

a, a:hover {
	color: var(--colrC);
}

pre {
	color: var(--colrC);
}

article {
	text-align: justify;
}

img {
	width: 90%;
}

h1 {
	font-weight: bold;
}

h4 {
	font-size: 80%;
}

.wrapper {
	background-color: var(--colrA);
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
}

.divider {
	width: 100%;
	padding: 2px;
	background-color: var(--colrC);
}

